.container {
  display: flex;
  flex-direction: row;
}

.content {
  padding: 2rem 4rem;
  height: 100vh;
  width: 100%;
  margin-left: 230px;
}

.contentToggle {
  padding: 2rem 4rem;
  height: 100vh;
  width: 100%;
  margin-left: 70px;
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.6rem;
  height: 100vh;
  width: 230px;
  border-right: 1px solid #222;
  position: fixed;
}

.asideToggle {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  height: 100vh;
  width: 70px;
  border-right: 1px solid #222;
  position: fixed;
}

.asideToggle div div p,
.asideToggle h4,
.asideToggle ul {
  display: none;
}

.aside ul {
  list-style: none;
  margin: 8px;
  padding: 0;
}

.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
  border-bottom: 1px solid #222;
}

.article div img,
.article img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #222;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logo img {
  filter: invert(1);
}