* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem
}

body,
input,
textarea,
button {
  font: 400 1.6rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}